.input-container {
  height: 10em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 16px;
  background-color: rgb(0, 0, 0);
}

.result {
  flex: 1;
  font-size: 16px;
  color: #fff;
  max-length: 12;
}


.text {
  flex: 1;
  font-size: 18px;
  color: #fff;
}
